*{
    padding: 0%;
    margin:0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
   
        width: 100%;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,0,36,1) 2%, rgba(0,212,255,1) 100%);
    
    color: white;
    
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
header{
    width: 100%;
    height: 100vh;
    background-image:url(467394.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
nav{
    height: 200px;
    width: 100%;
    display: flex;
justify-content: space-between;
align-items: center;
}
.logo { 
    width: 140px;
    margin-left: 20px;
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background:rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}
.nav-menu li {
    display: none;
    line-height 30px;
    margin: 50px 0;
    transition: all .5s;

}
.nav-menu li a {
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(248, 8, 8);
transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;

}
#check:checked ~ .nav-menu li{
display: block;    
}
.banner-text {
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;

}
.banner-text h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.banner-text span {
    color: rgb(248, 8, 8);

}
.banner-text h2 {
    font-size: 16px;
    font-weight: 600;

}
.button1 {
    margin-right: 40px;
    padding:10px 30px;
    background-color: rgb(248, 8, 8);
color: #fff;
border-radius: 5px;
}
.button1:hover {
    background-color: #fff;
    color:rgb(248, 8, 8);
transition: .5s;

}
.button2{
    margin-right: 40px;
    padding:10px 30px;
    background-color: #fff;
color:rgb(248, 8, 8);
border-radius: 5px;
}
h1{color: black;}
h2{
    color: black;
    
}

.button2:hover{
    background-color: rgb(248, 8, 8);
    color:#fff;
transition: .5s;
}
form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items:center;
}
input{
    width: 300px;
  height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
   

}
textarea{
    width: 300px;
    height: 200px;
    display: flex;
    border-radius: 5px;
}
.submit {
    width: 80px;
    margin-top: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    
}
a:hover{
    background-color: black;
    border-radius: 2px;
   cursor: pointer;
    color:white;
    
}

a{
    color: black;
    text-decoration: none;
    font-size:x-large;

}

@media screen and (min-widht: 768px){
    .logo {
        margin-left: 50px;
    }
    nav {
        height: 100px;

    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 12px;
    }
    .banner-text h1 {
        font-size: 70px;
        margin-bottom:  30px;

    }
    .banner-text h2 {
        font-size: 20px;
    }
}